name: Test

on: push

env:
    MIX_ENV: test
    OTP_VER: '26.1'
    ELIXIR_VER: '1.16.1'

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v6
            with:
              # set fetch-depth to 0 for "git describe --tags" to work
              fetch-depth: 0
          - name: Setup Erlang/Elixir
            uses: erlef/setup-beam@v1
            with:
              otp-version: ${{ env.OTP_VER }}
              elixir-version: ${{ env.ELIXIR_VER }}
              version-type: strict

          - name: Cache plt
            uses: actions/cache@v5
            with:
              path: |
                ~/.mix
                _build/dev
                _build/test
                !_build/dev/lib
                !_build/test/lib
              key: plt_erlang-${{ env.OTP_VER }}_elixir-${{ env.ELIXIR_VER }}
              restore-keys: plt_erlang-${{ env.OTP_VER }}_elixir-${{ env.ELIXIR_VER }}

          - name: Get dependencies
            run: mix deps.get

          - name: Compile
            run: mix compile

          - name: Test
            run: mix test

          - name: Credo
            run: mix credo --ignore todo

          - name: Run dialyzer
            run: mix dialyzer

          - name: Build docs
            run: mix docs
