name: Release

on:
  release:
    types:
      - prereleased
      - released

env:
    MIX_ENV: test
    OTP_VER: '26.1'
    ELIXIR_VER: '1.16.1'

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v6
            with:
              # set fetch-depth to 0 for "git describe --tags" to work
              fetch-depth: 0
          - name: Setup Erlang/Elixir
            uses: erlef/setup-beam@v1
            with:
              otp-version: ${{ env.OTP_VER }}
              elixir-version: ${{ env.ELIXIR_VER }}
              version-type: strict

          - name: Get dependencies
            run: mix deps.get

          - name: Build docs
            run: mix docs

          - name: Publish to Hex
            env:
              HEX_API_KEY: ${{ secrets.HEX_API_KEY }}
            run: bash publish.sh
